@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#ff3838;
}


*{
  font-family: 'Nunito', sans-serif;
  margin: 0; 
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background: var(--red);
  color: #fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
}

body{
  background: #f7f7f7;
}

section{
  padding: 32px 9%;
}

.heading{
  text-align: center;
  font-size: 56px;
  padding: 16px;
  color: #6666;
}

.heading span{
  color: var(--red);

}


.btn{
  display: inline-block;
  padding: 10px 20px;
  border: 3px solid var(--red);
  color: var(--red);
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 15px;
}

.btn::before{
  content: '';
  position: absolute;
  top: 0; right: 0;
  width: 0%;
  height: 100%;
  background: var(--red);
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before{
  width: 100%;
  left: 0;
}

.btn:hover{
  color: #f7f7f7;
}

header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 20px 8%;
  box-shadow: 8px 2px rgba(0,0,0,.1);
}

header .logo{
  font-size: 40px;
  font-weight: bolder;
  color: #666;
}

header .logo i{
  padding-right: 8px;
  color: var(--red);
}

header .navbar a {
  font-size: 25px;
  font-weight: 650;
  margin-left: 15px;
  color: #666;
}

header .navbar a:hover{
  color: var(--red);
}

#menu-bar{
  font-size: 35px;
  cursor: pointer;
  color: #666;
  /* border: 2px solid #666; */
  /* border-radius: 5px; */
  /* padding: 8px 24px; */
  display: none;
}

.home{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  min-height: 100vh;
  align-items: center;
  background: url(./images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  flex: 16 16 640px;
  padding-top: 104px;
}

.home .image{
  flex: 16 16 640px;
}

.home .image img{
  width: 100%;
  padding: 16px;
  animation: float 6s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(48px);
  }
}

.home .content h3{
  font-size: 55px;
  color: #333;
}

.home .content p{
  font-size: 20px;
  color: #666;
  padding: 16px 0;
}

/* add for background */
.speciality{
  min-height: 100vh;
  align-items: center;
  background: url(./images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.speciality .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

 .speciality .box-container .box{
  flex: 160 16 400px;
  position: relative;
  overflow: hidden;
  /* box-shadow: 1px 2px rgb(112, 16, 16); */
  border: 4px solid rgba(0,0,0,.3);
  cursor: pointer;
  border-radius: 8px;

}

.speciality .box-container .box .image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%; left: 0;
}

.speciality .box-container .box .content{
  text-align: center;
  background: #fff;
  padding: 32px;
}

.speciality .box-container .box .content img{
  margin: 24px 0;
}

.speciality .box-container .box .content h3{
  font-size: 40px;
  color: #333;
}

.speciality .box-container .box .content p{
  font-size: 20px;
  color: #666;
  padding: 16px 0;
}

.speciality .box-container .box:hover .image{
  top: 0% ;
}

.speciality .box-container .box:hover .content{
  transform: translateY(100%);
}

.popular .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.popular .box-container .box{
  padding: 32px;
  background: #fff;
  /* box-shadow: 4px 6px rgba(0,0,0,.1); */
  border: 2px solid rgba(0,0,0,.3);
  border-radius: 8px;
  text-align: center;
  flex: 16 16 400px;
  position: relative;
}

.popular .box-container .box img{
  height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.popular .box-container .box .price{
  position: absolute;
  top: 48px; left: 48px;
  background: var(--red);
  color: #fff;
  font-size: 20px;
  padding: 5px 5px;
  border-radius: 8px;
}

.popular .box-container .box h3{
  color: #333;
  font-size: 20px;
  padding-top: 16px;
}

.popular .box-container .box .stars i{
  color: gold;
  font-size: 20px;
  padding-top: 16px;
}

.setps{
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.setps .box{
  flex:  2px;
  padding: 2px;
  text-align: center;
}

.setps .box img{
  border-radius: 50%;
  border: 16px solid #fff;
  box-shadow: 4px 2px rgba(0,0,0,.1);
}

.setps .box h3{
  font-size: 20px;
  color: #333;
  padding: 5px 10px;
}

.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery .box-container .box{
  height: 100%;
  width: 100%;
  flex: 16 16 400px;
  border: 16px solid #fff;
  box-shadow: 4px 4px rgba(0,0,0,.1);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.gallery .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

.gallery .box-container .box .content{
  position: absolute;
  top: -100%; left: 0;
  height: 310px;
  width: 100%;
  background: rgb(255, 255, 255,0.8 );
  /* padding: 10px; */
  /* padding-top: 50px; */
  text-align: center;
}

.gallery .box-container .box .content h3{
  font-size: 40px;
  color: #333;
  padding-top: 50px;
}

.gallery .box-container .box .content p{
  font-size: 10px;
  padding: 10px;
  color: #333;
}

.gallery .box-container .box:hover .content{
  top: 0;
}

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.review .box-container .box{
  text-align: center;
  padding: 30px;
  border: 16px solid #fff;
  border-radius: 8px;
  box-shadow: 2px 2px rgba(0,0,0,.3);
  flex: 16 16 380px;
  background: #635e4c;
  margin-top: 100px;
}

.review .box-container .box img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 16px solid #fff;
  margin-top: -160px;
  object-fit: cover;
}

.review .box-container .box h3{
  font-size: 24px;
  color: #fff;
  padding: 8px 0;
}

.review .box-container .box .stars i{
  font-size: 20px;
  color:var(--red);
  padding: 4px 0;
}

.review .box-container .box p{
  font-size: 15px;
  color: #eee;
  padding: 8px 0;
}

.order .row{
  padding: 32px;
  box-shadow: 0 8px 16px rgba(0,0,0,.1);
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border-radius: 8px;
}

.order .row .image{
  flex: 16 16 480px;
}

.order .row .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;

}

.order .row form{
  flex: 1 1 800px;
  padding: 16px;
}

.order .row form .inputbox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputbox input, .order .row form textarea{
  padding: 8px;
  margin: 6px 0;
  font-size: 15px;
  color: #333;
  text-transform: none;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 8px;
  width: 46%;
}

.order .row form textarea{
  width: 100%;
  resize: none;
  /* height: 400px;  */
}

.order .row form .btn{
  background: none;
}

.order .row form .btn:hover{
  background: var(--red);
}

.footer{
  background: #000;
  text-align: center;
}

.footer .share{
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit{
  padding: 32px 16px;
  color: #eee;
  font-weight: normal;
  font-size: 15px;
}

.footer .credit span{
  color: var(--red);
}

#scroll-top{
  position: fixed;
  top: -220%;
  right: 32px;
  padding: 8px 16px;
  font-size: 40px;
  background: var(--red);
  color: #fff;
  border-radius: 50%;
  transition: 1s linear;
  z-index: 5000;
}

#scroll-top.active{
  top: calc(100% - 200px );
}

.loader-container{
  position: fixed;
  top: 0; left: 0;
  z-index: 10000;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out{
  top: -120%;
}








/* meadia queries */
@media(max-width:991px){
  html{
    font-size: 55%; 
  }

  header{
    padding: 32px;
  }

  section{
    padding: 32px;
  }
}

@media(max-width:768px){
  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #f7f7f7;
    border-top: 2px solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );
  }
  header .navbar a{
    margin: 16px;
    padding: 16px;
    display: block;
    border: 2px solid rgba(0,0,0,.1);
    border-left: 2px solid var(--red);
    background: #fff;
  }

}

@media(max-width:450px){
  html{
    font-size: 50%; 
  }

  .order .row form .inputbox input{
    width: 100%;
  }
}

